.m-left {
	margin-left: 23px;
}

.m-right {
	margin-right: 17px;
}

.m-bottom {
	margin-top: -21px;
}

.hall-of-fame {
	margin-top: -281px;
	color: #f2ecde;
	text-align: center;
}

h3.a1.md-txt {
	margin-bottom: 33px;
}
