#loader {
	position: absolute;
	left: 148px;
	top: 100px;
}

.intro-anime {
	position: relative;
}

.home .brave-logo {
	position: absolute;
	top: 438px;
	left: 646px;
	width: 149px;
	height: 149px;
}

.scale-in-out {
	animation: scale-in-out 0.5s forwards;
	-webkit-animation: scale-in-out 0.5s forwards;
}

@keyframes scale-in-out {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	to {
		transform: scale(1.2);
		/* opacity: 0; */
	}
}

@-webkit-keyframes scale-in-out {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	to {
		transform: scale(1.2);
		/* opacity: 0; */
	}
}

#clipping {
	position: absolute;
	top: 162px;
	left: 265px;
	z-index: 1;
}

#for-clipping {
	position: absolute;
	top: 102px;
	left: 265px;
	width: 650px;
	height: 526px;
	clip-path: url(#clipping-path);
}

#black-hole {
	width: 384px;
	height: 384px;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	bottom: 4px;
	right: 0;
}

.home .intro-text {
	color: #f2ecde;
	position: absolute;
	top: 104px;
	right: 8px;
	height: 247px;
	width: 344px;
	z-index: 1;
}

.home .brave-enough h2 {
	display: inline-block;
	font-size: 54px;
	letter-spacing: 6px;
	line-height: 64px;
	text-align: center;
}

/* to overlap game.css styles
------ NEED FIX
*/
.home .brave-enough {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
}

.have-you-got {
	color: #f2ecde;
	line-height: 22px;
	text-align: center;
	width: 285px;
	margin-top: -12px;
	margin-left: -18px;
}

#arm {
	position: relative;
	right: 120px;
	bottom: 22px;
	animation: slide-arm 1.5s forwards;
	-webkit-animation: slide-arm 1.5s forwards;
}

@keyframes slide-arm {
	from {
		right: -500px;
		bottom: -230px;
	}
	to {
		right: 120px;
		bottom: 22px;
	}
}

@-webkit-keyframes slide-arm {
	from {
		right: -500px;
		bottom: -230px;
	}
	to {
		right: 120px;
		bottom: 22px;
	}
}

.begin {
	position: absolute;
	bottom: 106px;
	left: 821px;
}

.pulse-btn {
	background-color: #000;
	border-radius: 100%;
	position: relative;
	width: 80px;
	height: 80px;
}

.pulse-btn a {
	color: #f2ecde;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 22px;
}

.pulse-outer {
	position: absolute;
	left: -3px;
	top: -3px;
	border: 1px solid #000;
	border-radius: 100%;
	width: 85px;
	height: 85px;
	animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(0.9);
		opacity: 0;
	}
}

@-webkit-keyframes pulse {
	0% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(0.9);
		opacity: 0;
	}
}

#timer {
	border-bottom: 1px solid #000000;
	font-size: 25px;
	font-weight: 300;
	letter-spacing: 6px;
	line-height: 32px;
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 2em;
	right: 0;
	width: 305px;
	height: 47px;
}
