header.desktop {
	padding: 219px 30px 150px;
	height: 100vh;
	width: 112px;
	position: fixed;
	top: 0%;
	left: 0;
}

.brave-logo {
	height: 52px;
	width: 52px;
}

#twist {
	height: 60px;
	margin-top: 17px;
}

.social {
	padding-top: 21px;
}

.social a {
	margin-bottom: 20px;
}

.social a svg {
	width: 20px;
	height: auto;
	cursor: pointer;
}

.social a:first-child svg {
	width: 10px;
}

nav {
	transform: rotate(-90deg);
	margin-top: 146px;
}

nav ul {
	font-family: "futura-pt", sans-serif;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

nav a:first-child {
	width: 97px;
}

nav a:last-child {
	width: 134px;
}

nav ul a:active,
nav ul a:focus,
nav ul a:hover {
	text-decoration: line-through;
}

#line {
	margin: 0 30px;
	height: 48px;
	width: 2px;
}
