.content-wrapper {
	text-align: left;
	height: 100%;
	width: 50%;
}

.brief-and-rules .content-wrapper.bg-black {
	transform: translateX(-112%);
}

.brief-and-rules .content-wrapper.bg-cream {
	transform: translateX(-112%);
	opacity: 0;
	z-index: -1;
}

.brief,
.rules {
	max-width: 380px;
}

.brief p,
.rules p {
	margin-bottom: 30px;
}

p.your-brief {
	margin-bottom: 17px;
}

.brief {
	margin: 263px auto 0 auto;
}

.rules {
	margin: 301px auto 0 auto;
}

.brief h3,
.rules h3 {
	text-align: left;
	text-transform: uppercase;
	line-height: 60px;
}

.brief h3,
.brief p {
	color: #f2ecde;
}

.rules h3 {
	color: #000000;
}

#brief-btn {
	border: none;
	border-radius: 100%;
	color: #f2ecde;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	line-height: 25px;
	position: absolute;
	right: -77px;
	top: 50%;
	width: 154px;
	height: 154px;
}

.brief-div-enter-done {
	animation: slide-brief 1s forwards;
	-webkit-animation: slide-brief 1s forwards;
}

.rules-div-enter-done {
	animation: slide-brief 0.6s forwards 0.5s;
	-webkit-animation: slide-brief 0.6s forwards 0.5s;
}

@keyframes slide-brief {
	from {
		transform: translateX(-112%);
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide-brief {
	from {
		transform: translateX(-112%);
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* @keyframes slide-rules {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@-webkit-keyframes slide-rules {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
} */

/* .rules-content-enter-done {
	animation: show-rules 0.5s forwards 1s;
	-webkit-animation: show-rules 0.5s forwards 1s;
}

@keyframes show-rules {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes show-rules {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
} */
